.logo {
  width: 150px;
  margin: 10px;
}

ion-toolbar {
  display: flex;
}

ion-card ion-img {
  height: 250px;
  width: 100%;
  object-fit: contain;
}

.img-poke{
  filter: drop-shadow(0 35px 10px rgba(0, 0, 0, 0.5)); 
}

ion-card {
  margin: 10px auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  ion-card{
    width: 450px;
  }
}